[package]
name = "eipw-lint-js"
version = "0.9.0"
edition = "2021"
license = "MPL-2.0"
rust-version = "1.80"
repository = "https://github.com/ethereum/eipw"

description = "Node.js bindings for eipw, the Ethereum Improvement Proposal validator"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["console_error_panic_hook"]

[dependencies]
eipw-snippets = { path = "../eipw-snippets", version = "0.1.0" }
wasm-bindgen = { version = "0.2.93", features = [ "serde-serialize" ] }
serde-wasm-bindgen = "0.6.5"
wasm-bindgen-futures = "0.4.43"
console_error_panic_hook = { version = "0.1.7", optional = true }
eipw-lint = { version = "0.9.0", path = "../eipw-lint" }
js-sys = "0.3.70"
serde_json = "1.0.128"
serde = { version = "1.0", features = [ "derive" ] }
getrandom = { version = "0.2.15", features = [ "js" ] }

[dev-dependencies]
wasm-bindgen-test = "0.3.43"
