[package]
name = "eipw-lint-js"
version = "0.4.1"
edition = "2021"
license = "MPL-2.0"
rust-version = "1.65"
repository = "https://github.com/ethereum/eipw"

description = "Node.js bindings for eipw, the Ethereum Improvement Proposal validator"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["console_error_panic_hook"]

[dependencies]
annotate-snippets = "0.9.1"
wasm-bindgen = { version = "0.2.84", features = [ "serde-serialize" ] }
serde-wasm-bindgen = "0.4.5"
wasm-bindgen-futures = "0.4.34"
console_error_panic_hook = { version = "0.1.7", optional = true }
eipw-lint = { version = "0.4.0", path = "../eipw-lint" }
js-sys = "0.3.61"
serde_json = "1.0.92"
serde = { version = "1.0", features = [ "derive" ] }
getrandom = { version = "0.2.8", features = [ "js" ] }

[dev-dependencies]
wasm-bindgen-test = "0.3.34"
