[package]
name = "eipw-lint"
version = "0.4.1"
edition = "2021"
license = "MPL-2.0"
rust-version = "1.65"
repository = "https://github.com/ethereum/eipw"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
comrak = { version = "0.18.0", default-features = false }
annotate-snippets = "0.9.1"
snafu = "0.7.4"
regex = "1.8.4"
serde_json = "1.0.99"
serde = { version = "1.0.164", features = [ "derive" ] }
url = "2.4.0"
chrono = { version = "0.4.26", default-features = false }
educe = { version = "0.4.22", default-features = false, features = [ "Debug" ] }
tokio = { optional = true, version = "1.29.0", features = [ "macros" ] }
scraper = { version = "0.17.1", default-features = false }
jsonschema = { version = "0.16.1", default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.29.0", features = [ "fs", "macros" ] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
tokio = { version = "1.29.0", features = [ "fs", "macros", "rt" ] }

[dev-dependencies]
assert_matches = "1.5.0"
tokio = { version = "1.29.0", features = [ "macros", "rt" ] }
