html,body {
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

pre {
	padding: 1em 0.5em;
	overflow-x: scroll;
	max-width: 100%;
}

pre,code {
	font-family: monospace;
	background: #f7f7f7;
}

article {
	max-width: 960px;
	margin: auto;
}
